<h1>Suggestotron 3000!</h1>

<button value="Submit a link"><%= link_to 'Submit a Link', new_topic_path %></button>

<table>
  <tr>
    <th>Title</th>
    <th>Votes</th>
    <th></th>
    <th></th>
  </tr>

<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
		<td><%= pluralize(topic.votes.length, "vote") %></td>
		<td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
    <td><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
